.campaignion-manage-content-listing .even {
  background-color: #F9F9F9;
}
.campaignion-manage-content-listing {
  margin-top: 1em;
}

.manage-content .icon {
  display: block;
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: -40px;
  background: url(file.png);
}

.manage-bulk,
.manage-content,
.manage-links {
  padding: 1em 0.5em;
}

.manage-bulk {
  padding: 1em 0em 0em 1em;
  width: 130px;
}
.manage-links {
  width: 14em;
}
.manage-bulk .form-item label.option {
  display: none;
}

.manage-content {
  padding-left: 40px;
}
.manage-content .title {
  margin-right: 0.75em;
  font-size: 1.2em;
}
.manage-content .title a,
.manage-content .title a:link,
.manage-content .title a:hover,
.manage-content .title a:active,
.manage-content .title a:focus,
.manage-content .title a {
  text-decoration: none;
  font-weight: bold;
}

.manage-content .status {
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}
.manage-content .status-published {
  font-color: #498C92;
  background-color: #6CD0D9;
}
.manage-content .status-draft {
  font-color: #868431;
  background-color: #D9D54F;
}
.manage-content .additional-info {
  color: #666666;
}
.manage-content .additional-info .type {
  margin-right: 0.75em;
}
.manage-links {
  min-width: 8em;
}


/* ------- Filter ------------------ */

#campaignion-manage-filter-form legend {
  display: none;
}
#campaignion-manage-filter-form fieldset {
  border-radius: 0;
}
#campaignion-manage-filter-form .fieldset-content {
  padding: 0.25em 1em;
  border-radius: 0;
}
#campaignion-manage-filter-form .fieldset-content > .form-type-checkbox{
  /* position: absolute; */
  /* left: -100px; */
  float: left;
  padding-top: 14px;
  width: auto;
  overflow: hidden;
}
#campaignion-manage-filter-form .fieldset-content > .form-type-checkbox .ilabel {
  display: none;
}

#campaignion-manage-filter-form .fieldset-content > .form-type-select .selecter-element {
  left: -9999px;
}
#campaignion-manage-filter-form .fieldset-content > .form-type-select .selecter,
#campaignion-manage-filter-form .fieldset-content > .form-type-select label {
  float: left;
  margin: 0.5em; 
}
#campaignion-manage-filter-form .fieldset-content > .form-type-select label {
  text-transform: none;
  padding: 14px 0 0 0;
  font-size: 1em;
  line-height: 1em;
}
#campaignion-manage-filter-form .fieldset-content > .form-type-select .selecter {
  min-width: 10em;
  max-width: 30em;
}

#campaignion-manage-filter-form fieldset > .manage-filter-remove {
  text-indent: -9999px;
  position: absolute;
  width: 32px;
  height: 32px;
  float: right;
  right: 10px;
  top: 12px;
  background-image: url(ae_x.png);
}


