#edit-bulk-wrapper.bulk-dialog {
  position: fixed;
  top: 100px;
  left: 15%;
  padding: 0;
  width: 70%;
  z-index: 501;
}
#edit-bulk-wrapper.bulk-dialog #edit-bulk-wrapper-operations input {
  position: absolute;
  left: -9999px;
}
#edit-bulk-wrapper #bulk-dialog-close {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  text-indent: -99999px;
  width: 32px;
  height: 32px;
  background-image: url(../img/x_beige.png);
}
#edit-bulk-wrapper #bulk-dialog-close:hover,
#edit-bulk-wrapper #bulk-dialog-close:active {
  cursor: pointer;
}
#edit-bulk-wrapper #edit-bulk-wrapper-op-wrapper {
  width: 50%;
  float: right;
}
#edit-bulk-wrapper #edit-bulk-wrapper-op-wrapper fieldset {
  display: none;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations {
  position: relative;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations label {
  border: 1px solid #dad5cd;
  padding: 0.5em 2% 0.5em 2%;
  width: 96%;
  display: block;
  background-color: #e3dfd7;
  color: #777470;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations label.active {
  background-color: #c3bfb7;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations label.active:hover,
#edit-bulk-wrapper #edit-bulk-wrapper-operations label.active:active {
  background-color: #D0CCC4;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations label:hover,
#edit-bulk-wrapper #edit-bulk-wrapper-operations label:active {
  cursor: pointer;
  background-color: #f3efe7;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations .bulk-question-mark {
  width: 32px;
  height: 32px;
  right: 0px;
  top: 0px;
  display: block;
  position: absolute;
  color: #dad5cd;
  border: 1px solid #dad5cd;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#edit-bulk-wrapper #edit-bulk-wrapper-operations .form-type-radio.form-item-bulk-wrapper-operations {
  padding-right: 50px;
}
#edit-bulk-wrapper #edit-bulk-wrapper-actions,
#edit-bulk-wrapper .form-type-radios.form-item-bulk-wrapper-operations {
  width: 48%;
  float: left;
  clear: left;
}
#edit-bulk-wrapper .form-item-bulk-wrapper-operations .popover {
  width: 90%;
  max-width: 100%;
}
