language: php
sudo: false

php:
  - 7.0

mysql:
  database: drupal
  username: root
  encoding: utf8

cache:
  directories:
     - $HOME/.composer/cache
     - $HOME/.drush/cache

install:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer global require drush/drush:8.1.* dflydev/hawk phpunit/phpunit:6.4.*

before_script:
  - repo=`pwd`
  - cd ..
  - git clone https://github.com/torotil/upal.git -b 1.0.1
  - upal=`pwd`/upal
  - mysql -e 'create database drupal'
  - php -d include_path=`pwd` -d sendmail_path=`which true` ~/.composer/vendor/bin/drush.php --yes core-quick-drupal --core=drupal-7.x --profile=testing --no-server --db-url=mysql://root:@127.0.0.1/drupal --root=`pwd`/test-root
  - ln -s $repo test-root/sites/all/modules/campaignion
  - cd test-root
  - root=`pwd`
  - drush dl addressfield ctools date entity features field_type_language form_builder i18n little_helpers oowizard paypal_payment psr0 redhen references webform webform_confirm_email webform_template ultimate_cron
  - drush --yes pm-enable campaignion_test

script:
  - cd $repo
  - UPAL_ROOT=$root UPAL_DB_URL=mysql://root:@127.0.0.1/drupal UPAL_WEB_URL=http://127.0.0.1 ~/.composer/vendor/bin/phpunit -c phpunit.xml --bootstrap $upal/bootstrap.php --coverage-clover=coverage.xml .

after_success:
  - bash <(curl -s https://codecov.io/bash)
