/* Mimic bootstrap break points */

@media (min-width: 768px) {
  .e2t-col {
    float: left;
    width: calc(75% - 15px);
  }
}

@media (min-width: 992px) {
  .e2t-col {
    width: calc(66.66667% - 15px);
  }
}

@media (min-width: 1200px) {
  .e2t-col {
    width: calc(50% - 15px);
  }
}
